---
import '@/styles.css'
//** Layout Import */
import PageLayout from '@/layouts/PageLayout.astro'
import { AppConfig } from '@/utils/AppConfig'
import { PostHeader } from '@/partials/PostHeader'
import { PostFooter } from '@/partials/PostFooter'

export type Post = {
  tags: string[]
  slug: string
  publishDate: Date
  title: string
}

export const getStaticPaths = async () => {
  const allPosts = await Astro.glob<Post>('../../../posts/*.mdx')
  let allSortedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).getTime() -
      new Date(a.frontmatter.publishDate).getTime()
  )

  return allSortedPosts.map((post) => {
    return {
      params: { slug: post.frontmatter.slug },
      props: { post },
    }
  })
}

const content = Astro.props
const { Content } = content.post
const titleSufix = ` - ${AppConfig.site_name}`
const titleBase = content.post.frontmatter.title
const title = titleBase + titleSufix
const description = 'ss'
---

<PageLayout content={{ title, description }}>
  <article class='mx-auto max-w-screen-lg py-6'>
    <PostHeader
      title={content.post.frontmatter.title}
      date={content.post.frontmatter.publishDate}
      tags={content.post.frontmatter.tags}
      img={content.post.frontmatter.imgSrc}
    />
    <main class='post'>
      <Content />
    </main>
    <PostFooter />
  </article>
</PageLayout>
